header{
  border-bottom: 1px dotted grey;
}


.container {
  margin: 0 auto;
  width: 720px;
	font-family: 'Open Sans', sans-serif;

}

.container header li {
  display: inline;
  padding-right: 50px
}

.container header ul {
  text-align: center;
  padding-bottom: 5px;
}

h1 {
text-align: center
}

footer{
  border-top: 1px dotted grey;
  padding-right: 10px;
}